@charset "utf-8";
/* CSS Document - v3.1.0 */

	
	body{
		font-family: Tahoma, Verdana, "Times New Roman";
		font-size: 11px;
		color: #333;
		margin:0px;
		padding:0px;
		line-height:1.9em; /*new*/
		background:transparent;
	}
	
	
	
	/* wrp -> Content -> BX_Center --------------------------------------------- */

	

	.post{
		margin-bottom:15px;
		background:#fff;word-wrap:break-word;
margin-left: 3px;margin-right:3px;margin-top:10px;
		box-shadow:0 0 6px 1px #f0f0f0;padding:2px;
		border-bottom:1px solid #FFF;border-radius:5px;
	}
	span#dey {float:none;background:#f1f1f1;color:#aaa;padding:15px;}
.post:hover{
		border-top:1px solid #aaa;
}
.post .owghat span {margin:15px 5px 14px 5px;padding:8px;background:#f1f1f1;color:#aaa;bottom:10px;top:10px;direction:rtl;
}
form#shahr{float:right;}
	#sub{float:left;background:#00ccff;border-radius:5px;border:0;color:#fff;margin: 1px 5px;}
span#mydate {color:#666;padding:5px;font-weight:bold;background:#f1f1f1;}
/*---------- Responsive ----------*/
@media only screen and (min-width: 950px) {
  	.post {
 width:75%;
	} 
}
@media only screen and (max-width: 900px) {
  	.post {
 width:100%;
	} 
}

@media only screen and (max-width: 720px) {
	.post {
 width:100%;
	}
 .post .owghat span {display:block;}
}

@media only screen and (max-width: 550px) {
.post .owghat span {display:block;}
}

